form {
    display: flex;
    flex-direction: column;
  }
  
  form input,
  form label {
    margin: 10px 0;
    font-weight: 600;
    color: #68a1b7;
  }

  form input {
    padding: 10px 12px;
    font-weight: 400;
    max-width: 90%;
    width: 100%;
    height: 2em;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 1.5em;
    border: 0.1px solid rgb(97 109 130 / 50%);
    border-radius: 5px;
}

input#trip-description {
    height: 3em;
}

form label {
  text-align: left;
}

.create-trip-button {
  max-width: 90%;
  width: 15%;
  border: none;
  color: white;
  background-color: #127082;
  border-radius: 5px;
  padding: 6px;
}