.buttons {
    display: flex;
    flex-direction: row;
}


.trip-detail-description{
    text-align: left;
    font-size: 1.2em;
    font-style: italic;
    color: #68a1b7;
}


.nimbus-card-trip-detail {
    overflow: hidden;
    height: 20em;
    background-color: rgb(255 255 255 / 61%);
    margin-bottom: 4em;
    border: 1px solid rgb(97 109 130 / 74%);
    border-radius: 14px;
    color: #68a1b7;
    transition: transform 0.3s, box-shadow 0.3s, filter 0.3s; 
    transform: scale(1); /* default scale */
    margin-top: -3em;

    height: inherit;
}


.nimbus-card-trip-detail-details {
    box-sizing: border-box;
    text-align: left;
    padding: 0.5em 1em 0.5em 2em;
    align-items: center;
    justify-content: space-between;
}

.regenerate-button{
    text-align: right;
}