 .grayed-out{
    pointer-events: none; 
    opacity: 0.5;
 }
 

.loading-spinner {
    position: fixed;
    top: 2em;
    left: 5em;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 20em;
    height: 20em;
    overflow: hidden;
    position: relative;
    animation: bounce 4s infinite;
}

.loading-spinner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../../../../public/nimbus.png') no-repeat center / contain;
    filter: grayscale(100%);
    z-index: 0;
}

.loading-spinner img {
    width: 100%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    animation: reveal 2s infinite;
}

@keyframes reveal {
    0% {
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    }
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translate(0, 0);
    }
    15% {
        transform: translate(-50px, -50px); /* Slight diagonal bounce to top-left */
    }
    40% {
        transform: translate(0, 0); /* Slight diagonal bounce to top-left */
    }
    55% {
        transform: translate(50px, -50px);  /* Slight diagonal bounce to bottom-right */
    }
    70% {
        transform: translate(0, 0);  /* Slight diagonal bounce to bottom-right */
    }
}



.trip-info-container{
    display:flex;
    flex-direction: column;
}

.search-bar-container{
    max-width: 27em;
    margin-bottom: 2em;
}

.CalendarDay__selected_span {
    background: #56cfd8 !important;
}

.CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover {
    background: #3cadb5 !important;
}

.CalendarMonth_caption {
    color: #68a1b7 !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #68a1b7;
    opacity: 1; /* Firefox */
  }

.DateRangePickerInput_arrow_svg {
    fill: #68a1b7;
}

.DateInput_input {
    color: #68a1b7;
    font-weight: 400;
}

.date-range-container {
    text-align: left;
}

.add-destination-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 3em;
}

.destination-button {
    background-color: #127082;
    display: block;
    color: #ffffff;
    border: none;
    padding: 6px 12px;
    text-align: left;
    text-decoration: none;
    font-size: 0.9em;
    cursor: pointer;
    border-radius: 4px;
}