 .grayed-out{
    pointer-events: none; 
    opacity: 0.5;
 }

 .loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; 
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.trip-info-container{
    display:flex;
    flex-direction: column;
}

.search-bar-container{
    max-width: 27em;
    margin-bottom: 2em;
}

.CalendarDay__selected_span {
    background: #56cfd8 !important;
}

.CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover {
    background: #3cadb5 !important;
}

.CalendarMonth_caption {
    color: #68a1b7 !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #68a1b7;
    opacity: 1; /* Firefox */
  }

.DateRangePickerInput_arrow_svg {
    fill: #68a1b7;
}

.DateInput_input {
    color: #68a1b7;
    font-weight: 400;
}

.date-range-container {
    text-align: left;
}

.add-destination-buttons {
    display: flex;
    flex-direction: row;
}

.destination-button {
    background-color: #127082;
    display: block;
    color: #ffffff;
    border: none;
    padding: 6px 12px;
    text-align: left;
    text-decoration: none;
    font-size: 0.9em;
    cursor: pointer;
    border-radius: 4px;
}