
.main-trips {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns items to the start (left) */
    width: 100%;
}

.nimbus-card {
    overflow: hidden;
    height: 20em;
    background-color: rgb(255 255 255 / 61%);
    margin-bottom: 4em;
    border: 1px solid rgb(97 109 130 / 74%);
    border-radius: 14px;
    color: #68a1b7;
    filter: grayscale(100);
    transition: transform 0.3s, box-shadow 0.3s, filter 0.3s; 
    transform: scale(1); /* default scale */
    box-shadow: 4px 1px 6px rgba(0, 0, 0, 0.15); 
}


/* When not hovering over the container, first card is colored and enlarged */
.nimbus-card-container:not(:hover) .nimbus-card:first-child {
    filter: none;
    transform: scale(1.03);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  /* Card hover effect */
  .nimbus-card:hover {
    cursor: pointer;
    filter: none;
    transform: scale(1.03);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  }

.nimbus-card-img-container {
    height: 12em;
    background-size: cover;
    background-position: center;
    z-index: 5;
}

.nimbus-card-details {
    box-sizing: border-box;
    text-align: left;
    display: flex;
    padding: 0.5em 1em 0.5em 2em;
    align-items: center;
    justify-content: space-between;
}

.delete-button::after {
    content: "";
    clear: both;
}


.trip-name { 
    font-size: 2em;   
    text-align: left;
    font-weight: 600;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.trip-description{
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 3em;
}

.trip-attributes {
    max-width: 75%;
}

.trip-button {
    background-color: #127082;
    color: #ffffff;
    border: none;
    padding: 6px 12px;
    text-align: right;
    text-decoration: none;
    font-size: 0.9em;
    margin: 1em 0.5em;
    cursor: pointer;
    border-radius: 4px;
}
