
.main-destinations {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns items to the start (left) */
    width: 100%;
}

.destination-div {
    box-sizing: border-box;
    color: #68a1b7;
    text-align: left;
    display: flex;
    padding: 0.75em 2em;
    align-items: center;
    width: 95%;
    background-color: rgb(255 255 255 / 61%);
    margin-bottom: 2em;
    border: 0.1px solid rgb(97 109 130 / 74%);
    border-radius: 5px;
    flex-direction: row;
    justify-content: space-between;

}

.destination-buttons {
    display: flex;
}

.delete-button::after {
    content: "";
    clear: both;
}


.destination-name { 
    font-size: 1.5em; 
    text-align: left;
    font-weight: 600;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.destination-description{
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 3em;
}

.destination-attributes {
    max-width: 75%;
}

.destination-card {
    height: 17em;
    transition: width,left,right,300ms;
}

.nimbus-card-container-destinations {
    display: grid;
    grid-column: 2em;
    grid-template-columns: repeat(2, 1fr);
}
