.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  height: auto;
  scroll-behavior: auto !important;
}


/* Reduced font size for mobile */
@media (max-width: 60em) {
  html {
      font-size: 12px; /* or whatever value makes sense for your design */
  }
  .activity-description {
    font-size: 12px;
  }

  .activity {
    flex-direction: column !important;
  }

  .activity-img-container {
    padding: 3em
  }

  .activity-description {
    width: inherit !important;
    padding: 2em 0.5em !important;
  }

  .activity-image {
    max-width: 25em;
    width: 100% !important;
    height: 100% !important;
  }

  .afternoon-activity-image-container {
    margin: 0 !important;
  }

  .css-ewdv3l {
    margin-left: -0.5em !important;
    transition: none;
  }

  .my-sidebar { 
    transition: none !important;
  }

  .main-component {
    transition: none !important;
  }
}



.nimbus-button{
  background-color: #127082;
  color: #ffffff;
  border: none;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 0.9em;
  margin: 1em 0.5em;
  cursor: pointer;
  border-radius: 4px;
  transition: all .2s ease-in-out;
}


.nimbus-button:hover {
  transform: scale(1.05);

}

.nimbus-button[disabled] {
  background: lightgray;
  cursor: not-allowed;
}

.my-sidebar { 
  min-height: 100vh;
  height: auto;
  padding: 40px 0;
  background-color: rgb(249, 249, 249);
  position: fixed !important;
  z-index: 2;
  min-height: 100vh;
}

.sign-out-button {
  margin-top: 50px;
}

[data-amplify-authenticator] {
  margin-top: 5em;
}

.nimbus {
  margin-top: 28px;
  width: 155px;
  display: block;
  margin-left: 5px;
}

.no-hover-effect:hover a {
  background-color: inherit !important; 
  color: inherit !important;
  cursor:default;
}

.nimbus-label {
  position: absolute;
  margin-left: 120px;
  margin-top: -57px;
  color: #8fdade;
  font-size: 35px;
  font-weight: 700;
}

.menu-item {
  font-weight: 600;
  text-align: left;
  color: #68a1b8;
  text-decoration: none;
}

.main-component {
  padding: 6em;
  text-align: left;
  min-width: fit-content;
  width: 100%;
  background-color: #e0f3f6;
  border-left: 1px solid rgb(168 189 221 / 20%);
  transition: width,left,right,300ms;
}

.main-component-wide {
  min-width: 25em;
  margin-left: 5em;

}


.main-component-small {
  min-width: 60em;
  margin-left: 20em;
}

.cloud-companion-label {
  position: absolute;
  font-size: 13px;
  font-weight: 600;
  font-style: italic;
  margin-left: -10px;
  margin-top: -7px;
  color: #68a1b7;
}

h1 {
  text-align: left;
  display: block;
  font-size: 2em;
  font-weight: 600;
  color: #68a1b8;
  margin-bottom: 1.5em;
}

h2 {
  text-align: left;
  display: block;
  font-size: 1.5em;
  font-weight: 600;
  color: #68a1b8;
  margin: 1.5em 0em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
